{% load static %}
<html lang="en">
 <head>
   <title>Squeaky Clean</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
     <link rel="stylesheet" href="{% static 'style.css' %}">
     <link href="//db.onlinewebfonts.com/c/8c583b80ac9e392caea26d76a803b665?family=ITC+Bradley+Hand" rel="stylesheet" type="text/css"/>

 </head>
<body>
<div class="container01">
    <header>
        <a href="#" class="logo"></a>

        <input type="checkbox" id="menu-bar">
            <label for="menu-bar"><i class="fa fa-bars"></i></label>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">About <i class="fa  fa-caret-down"></i></a>
                <ul>
                    <li><a href="{% url 'whoweare' %}">Who we are</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href ="{% url 'contactus' %}">Contact us</a></li>
                </ul>
            </li>
                <li><a href="#">Get started <i class="fa  fa-caret-down"></i></a>
                    <ul>
                        <li><a href="{% url 'signup' %}">Sign up</a></li>

                    </ul>
                </li>
                <li><a href="#">My account <i class="fa  fa-caret-down"></i></a>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="#">Settings <i class="fa  fa-caret-down"></i></a>
                    <ul>
                        <li><a href="{% url 'myaccount' %}">Manage ID</a></li>
                        <li><a href="{% url 'address_list' %}">Addresses</a></li>
                        <li><a   href="{% url 'delete_account' %}">Delete my account</a></li>
                     <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>

                    </ul>




                           <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                           <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
             <li><p style="color: transparent"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>

                </li>
            </ul>
        </nav>
    </header>
</div>


<div class = "sq" style="padding-top: 66px;padding-bottom: 20px;">
    <p>SQUEAKY CLEAN-DRY-CLEANING STORE</p>
            </div>
{% block content %}
  {% endblock %}
</body>
</html>
