{% load static %}
<html lang="en">
 <head>
   <title>Squeaky Clean</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="{% static 'style.css' %}">
     <link href="//db.onlinewebfonts.com/c/8c583b80ac9e392caea26d76a803b665?family=ITC+Bradley+Hand" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 </head>
<body>
<div class="container01">

    <header style="right: 0;">
        <a href="#" class="logo"></a>

        <input type="checkbox" id="menu-bar">
            <label for="menu-bar"><i style="font-size: 35px;padding-top: 15px;" class="fa fa-bars"></i></label>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">About <i class="fa  fa-caret-down"></i></a>
                <ul>
                    <li><a href="{% url 'whoweare' %}">Who we are</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href ="{% url 'contactus' %}">Contact us</a></li>
                </ul>
            </li>
                <li><a href="#">Get started <i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="{% url 'signup' %}">Sign up</a></li>

                    </ul>
                </li>
                <li><a href="#">My account <i class="fa fa-caret-down"></i></a>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="#">Settings <i class="fa  fa-caret-down"></i></a>
                    <ul>
                        <li><a href="{% url 'myaccount' %}">Manage ID</a></li>
                        <li><a href="{% url 'address_list' %}">Addresses</a></li>
                        <li><a   href="{% url 'delete_account' %}">Delete my account</a></li>
                     <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>

                    </ul>
                           <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                           <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                {% if user.is_authenticated %}

            <li class="nav-item active">

          <a  href="/cart">Cart
            <span class="badge badge-success">{{request.session.cart.keys|length}}</span>
          </a>
                    <li class="nav-item active">
            <a  href="/orders">Orders</a>
            {% endif %}

            </ul>
        </nav>
    </header>
</div>


<div class = "sq" style="padding-top: 70px;padding-bottom: 20px;">
    <p>SQUEAKY CLEAN-DRY-CLEANING STORE</p>
            </div>
{% block content %}
  {% endblock %}
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
