{%  extends 'base.html' %}
{% load static %}
{% block content %}



<div class="contactus">
    <h1>CONTACT US</h1>
</div>

<div class="contactpage">
<div class="phone">
<h2>Phone Number:402-000-000-00</h2>
</div>


<div class="email">
<h2>E-mail: businessmanage@Squeakyclean.com</h2>
</div>



<div class="address">
<h2>Store Address: 9325 N 181st St, Elkhorn, NE 68022</h2>
</div>

<div class="instagram">
<h2>Follow us on Instagram: Squeakyclean</h2>
</div>
    </div>



{% endblock %}