{%  extends 'base.html' %}
{% load static %}
<html>

{% block content %}
<head>
<style>

        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        .img-container {text-align: center;}

</style>
    <title>Services</title>
</head>
<body>

<h1>Services We Provide:</h1>

<section>
<ul>
    <h2>Stain Removal - Price: $1.50 per unit</h2>
    <p>This is our most basic service. With this, we will remove all stains from your clothing to ensure you are looking your best!</p></ul>
    <div class = img-container>
        <img src="./../static/images/stain.jpg" width = "400" height = "300"/> </div>
    <ul>
        <h2>Full Service Dry Cleaning - Price: $3.50 per unit</h2>
        <p>With our full service dry cleaning, your clothes will never be cleaner! The stain removal service is included in this price.</p>
    </ul>
    <div class = img-container><img src="./../static/images/dry-cleaning.png" width = "400" height = "300"/></div>
    <ul>
        <h2>Full Service Dry Cleaning With Delivery - Price: $6.50 per unit</h2>
        <p>The same as our normal full service dry cleaning, except we will deliver your clothes to you once they are completed. Just let us know a time that is convenient to you!</p>p</ul>
    <div class = img-container><img src="./../static/images/delivery.jpg" width = "400" height = "300"/></div>
<ul>
    <h2>Specialized Dry Cleaning - Price: $9.50 per unit</h2>
    <p> This service is for materials and clothing that require extra care such as leather, suede, fur or wedding dresses. With our experts, you can rest assured that even your most delicate items will be safe in our hands!</p></ul>
    <div class = img-container><img src="./../static/images/special-dry-cleaning.jpeg" width = "400" height = "300"/></div>
    <br>


</section>

</body>
</html>
{% endblock %}
