{%  extends 'base.html' %}
{% load static %}

{% block content %}
<style>
.service {
  padding-left: 20%;
    padding-right: 25%;
  font: 500 100%/1.5 system-ui;
    text-align: center;
}
.service p{
    padding-right: 5px;
    margin-bottom: 50px;
margin-top: -40px;
    max-width: 500px;

}

.service h2 {
  font-size: 1.5rem;

}

.service img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
    margin-bottom: 0;
}

@media (min-width: 650px) {

  .service {
    display: grid;
grid-template-columns: 300px 1fr;
    gap: 3rem;
    align-items: center;


  }
  .service p {
    max-width: 500px;

  }
}

@media (max-width: 960px) {
  .service {
    padding: 1rem;
      row-gap: 0rem;
  }
  .service h2 {
    margin-top: 1rem;
  }
  .service p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}
</style>

    {% for service in serviceinfo %}
        <div class="service">
            <h2>{{service.name}} -Price: ${{service.price}} per unit</h2>
            <img src={{service.image.url}}  width="500" height="420"/><br>
            <p>{{service.description}}</p>
        </div>
    {% endfor %}

{% endblock %}
