{%  extends 'base.html' %}
{% load static %}
<html>
{% block content %}
<head>
    <title>Services</title>
    <link rel="stylesheet" href="./../static/project.css">
</head>
<body>

<h1>Services We Provide:</h1>

<section>
<ul>
    Stain Removal - Price: $1.50 per unit
    <br>
    We will remove all stains from the product.</ul>
    <img src="./../static/images/stain.jpg" width = "300" height = "200"/>
    <br>
    <ul>
    Full Service Dry Cleaning - Price: $3.50 per unit
    <br>
    With our full service dry cleaning, your clothes will never be cleaner! Includes stain removal.
    </ul>
    <img src="./../static/images/dry-cleaning.png" width = "300" height = "200"/>
    <br>
    <ul>
    Full Service Dry Cleaning With Delivery - Price: $6.50 per unit
    <br>
        The same as our normal full service dry cleaning, except we will deliver your clothes to you once they are done at a convenient time to you!</ul>
    <img src="./../static/images/delivery.jpg" width = "300" height = "200"/>
    <br>
<ul>
    Specialized Dry Cleaning - Price: $9.50 per unit
    <br>
    For materials that require extra care such as leather, suede, fur or wedding dresses, please select this service.</ul>
    <img src="./../static/images/special-dry-cleaning.jpeg" width = "300" height = "200"/>
    <br>


</section>

</body>
{% endblock %}
</html>

