{% extends "base.html" %}
{% block content %}
<style>
    .tcs h2{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }
    .tcs p{
        padding-top: 6px;
        padding-left: 50px;
        padding-right: 50px;
    }

    @media(max-width:991px){
   .terms {
       font-size: 18px;
   }
}

</style>
    <div class="tcs">

   <h2 class='terms' >TERMS AND CONDITIONS OF SQUEAKY CLEAN DRY CLEANING STORE:</h2>
<h2>Cancellation / Refund Policy:</h2>
    <br>
    <p>1. Any extra amount paid by the customer for retail order can be refunded by the company if the customer asks.</p>
    <p>2. User can cancel at any time before the actual pick-up. No cancellation charges will be levied.</p>
    <p>3. If the customer wants to cancel the order because of any reason, then the request for cancellation has to be placed within 2 hr of pickup of articles.</p>
    <p>4. Once an order is punched and processed, the order can't be canceled.</p>
<h2>Privacy Policy:</h2>
    <br>
    <p>1. Company never sells your personal information like phone number, address, or email id to any third party.</p>
    <p>2. Company may hire other companies to provide limited administrative and communication services on companies behalf, such as hosting sites, the processing, and delivery of mailings, providing customer support, or providing credit card processing services. The company has the right to disclose your Personal Information to these third-party companies for the purpose of administering and maintaining the Site and App's features, functions, and operations. Those companies will be permitted to obtain only such Personal Information as necessary for them to deliver the respective services, and we do not authorize these companies to use your Personal Information except for the sole purpose of providing those services requested by us.</p>
<h2>Links To Other Sites:</h2>
    <br>
    <p>The company doesn't hold any liability on account of damages that occurred of any kind from the content published on our website.</p>
    <h2>Distribution of Information:</h2>
    <br>
    <p>The content of this website is the intellectual property of the Company. Any distribution whatsoever will not be tolerated and shall be punishable by law. </p>
     <h2>Prohibited Uses of Site:</h2>
    <br>
    <p>Impersonating or imitating someone else shall be liable for legal action accordingly. </p>
     <h2>Content Permission & Restrictions:</h2>
    <br>
    <p> Any imitation or distribution of content on this website for any purpose shall be treated as infringement and shall be punishable by law. Publishing of any third-party content is prohibited and shall be liable for legal action.</p>
<br>
    <br>
     </div>
{% endblock %}