{%  extends 'base.html' %}
{% load static %}
{% block content %}
<div class="whoweare">
<h2>Who are we?</h2>
<p>
We are a one-stop shop for all kinds of laundry service! We offer a variety of services to our clients at reasonable pricing.
    We are here to deliver convenience right to your door!  No waiting in line or making drawn-out phone calls to customer support.
    Join us today (FOR FREE!) and stop stressing about stained clothing items!
</p>

    <br>
    <h2>When was the company founded? </h2>
    <p>
    The company was founded in august of 2015.
    </p>
        <br>
    <h2>What is our mission? </h2>
    <p>The highest quality service possible for the lowest price is our company's mission statement.
        It's time for you to relax and stop worrying about getting the stains out of your clothes – leave that to us!
        WE GOT YOUR BACK AND YOUR CLOTHES!</p>
    <br>
    <h2>What we do to thrive? </h2>
    <p> As a business, we collaborate with skilled workers and exclusively use top-notch products! Our products and services are environmentally sustainable!
        We are not only worried about your clothes but also our planet Earth!</p>
    <br>
    <h2>Why choose us?</h2>
    <p> You should choose us because we care. We care about that lucky white shirt that you wear to important meetings.
        We care about your wedding dress. We care about your child’s sweater.
        Our services, employees, and store are here to make sure you shine bright on your important day!
        Join us today (FOR FREE!).</p>
    <br>
    <h2> WE GOT YOUR BACK AND YOUR CLOTHES!</h2>
    </div>
{% endblock %}
