{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Invoices for your orders </p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                   <!-- <th>Sno.</th>
                    <th>Image</th> -->
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Invoice Status</th>
                </tr>
            </thead>
            <tbody>

                {% for invoice in invoices %}

                <tr>
                    <!-- <td>{{forloop.counter}}</td> -->
                    <!--<td><img style="height: 80px;" class="rounded-circle" src="{{order.service.image.url}}" alt=""></td>  -->

                    <td><a href="invoiceDetails/{{invoice.order.order_id}}">{{invoice.order.order_id}}</a></td>
                    <td>{{invoice.date}}</td>
                   </td>
                    <td>{{invoice.total_price|currency}}</td>
                    <td>
                        {% if invoice.status %}
                        <p>class="badge badge-success">Paid</p>
                        {%else%}
                        <p class="badge badge-warning">Pending Payment</p>
                        {% endif %}
                     </td>



                </tr>

                {% endfor %}

            </tbody>

        </table>

   </div>
</div>





{% endblock %}