{% extends "base.html" %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
    <div class="text-center">
{% if messages %}
  {% for message in messages %}
      <strong>{{message}}</strong>
  {% endfor %}
    </div>
{% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

      <table class="center">
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div class="text-center">
        <div><input  type="submit" value="login" ></div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">


  </form>
    <p>
    <div class="text-center">
        <a class ="center" href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
    </p>



{% endblock %}