{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
      <strong>{{message}}</strong>
 {% endfor %}
{% endif %}

    {% if user.is_authenticated %}
      <p>Welcome to the Squeaky clean</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

      <table class="center">
{% comment %}      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>{% endcomment %}

          <tr>USERNAME</tr>
      <tr><input type="textfield" name="username"/></tr>

      <tr>PASSWORD</tr>
      <tr><input type="email" name="email"/>
    </table>
    <div class="text-center">
        <div><input  type="submit" value="login" ></div>
    </div>


  </form>
    <p>
    <div class="text-center">
        <a class ="center" href="{% url 'password_reset' %}">Forgot password?</a>
    </div>>
    </p>



{% endblock %}
