{% extends "base.html" %}
{% block content %}

     <style>
     *{
         text-decoration: none;

     }
body{
    text-decoration: none;

    background-color: #FFE699;

}
  .login {
     margin-top: -240px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      background-color: #FFE699;
  }
  form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 330px;
  }
  input[type="text"],
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 170px;
  }
  input[type="submit"] {
    background-color: #4d90fe;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    width: 250px;
  }
  input[type="submit"]:hover {
    background-color: #357ae8;
  }
  p {
    margin-top: 20px;
  }
  a {
    color: blue;
    text-decoration: none;
  }
.login *{
    background-color: white;
}

  @media(max-width:991px) {
      .login {

          display: flex;

          align-items: center;
          height: 100vh;
          background-color: #FFE699;

          margin-right: 12px;
      }
  }

</style>


  {% if form.errors %}
    <p style="text-align: center">No user found with the given credentials, please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
    <br>
    <br>
    <br>
    <br>

<div class="login">
  <form method="post" action="{% url 'login' %}">
     <h2 style="text-align: center;background-color: white">Login</h2>
      <br>

      {% csrf_token %}

      <table class="center" >
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>


    <div class="text-center">
        <div><input  type="submit" value="login" ></div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
 <div style="text-align: center;padding-top: 15px;margin-bottom: -15px" >
        <a class ="center" href="{% url 'password_reset' %}">Forgot password?</a>
    </div>

  </form>
    <br>




</div>
{% endblock %}
